<br/><h4><i>In the <span class="badge badge-pill badge-primary">BETA</span> version, <b>consent receipts are activated by default</b> by Datavillage. In the production version, the consent activation process will involve data providers as well.</i></h4>
