
  <div class="alert alert-info">
    <strong>Disclaimer:</strong> 
    You are using a <span class="badge badge-pill badge-primary">BETA</span> version. Features are limited and some bugs may occur. In case of issue, please share with <a href="mailto:developer@datavillage.me">developer@datavillage.me</a>.
  </div>

