<footer class="footer">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://www.datavillage.me">
                About Us
              </a>
            </li>
            <li>
              <a href="https://medium.com/datavillage">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                Terms &amp; conditions
              </a>
            </li>
            <li>
              <a href="#">
                No cookie policy
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script> Datavillage
        </div>
      </div>
    </footer>