<!-- Navbar -->

<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="10" id="sectionsNav">
     <a class="navbar-brand" href="/auth/digitaltwin"><img style="width:48px" src="/img/logo.png"/>
          Datavillage </a>
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item {{digitaltwin}}">
            <a class="nav-link" href="/auth/digitaltwin">
              <i class="material-icons">bubble_chart</i> Digital profile
            </a>
          </li>
           <li class="nav-item {{dataBeam}}">
            <a class="nav-link" href="/auth/applications" onclick="">
              <i class="material-icons">input</i> Applications
            </a>
          </li>
           <li class="nav-item {{dataCampaign}}">
            <a class="nav-link" href="/auth/datacampaign" onclick="scrollToDownload()">
              <i class="material-icons">people</i> Data campaigns
            </a>
          </li>
          <li class="nav-item {{overview}}">
            <a class="nav-link"  href="/auth/overview">
              <i class="material-icons">format_align_justify</i> My activity
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">perm_identity</i> My account
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/auth/profile/pod" class="dropdown-item">
                <i class="material-icons">storage</i> Personal pod
              </a>
              <a href="/auth/logout" class="dropdown-item">
                <i class="material-icons">power_settings_new</i> Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <!-- End Navbar -->