<!doctype html>
<html lang="en">
<head>
	{{> html-head}}
</head>

<body class="sidebar-collapse">
	{{> loader}}
	{{> navbar}}
	<div class="page-header page-header-small"></div>
	 <div class="main-raised">
	    {{> environment}}
		{{{body}}}
	</div>
	{{> footer}}
</body>
{{> html-foot}}
</html>