.request{
    border:solid #f7f7f9;
}
.request-parameters{
   margin:20px;
}
.request-payload{
    border:solid #f7f7f9;
    background-color: #f7f7f9;
}

.response-payload{
    border:0;
    width:100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #50dddf;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #50dddf;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .made-with-mk {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    z-index: 555;
    bottom: 40px;
    right: 40px;
    border-radius: 30px;
    background-color: #50dddf;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    padding: 10px 12px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1); }
    .made-with-mk:hover, .made-with-mk:active, .made-with-mk:focus {
      width: 318px;
      height: 218px;
      color: #FFFFFF;
      transition-duration: .55s;
      padding: 10px 19px; }
      .made-with-mk:hover .made-with, .made-with-mk:active .made-with, .made-with-mk:focus .made-with {
        opacity: 1; }
      .made-with-mk:hover .brand, .made-with-mk:active .brand, .made-with-mk:focus .brand {
        left: 0; }
    .made-with-mk .brand,
    .made-with-mk .made-with {
      float: left; }
    .made-with-mk .brand {
      position: relative;
      top: 4px;
      left: -1px;
      letter-spacing: 1px;
      vertical-align: middle;
      font-size: 43px;
      font-weight: 600; }
    .made-with-mk .made-with {
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      left: 58px;
      top: 0 px;
      opacity: 0;
      margin-top:-20px;
      -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
      -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
      -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
      transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1); }
      .made-with-mk .made-with strong {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.9); }



        #viz {
          width: 900px;
          height: 700px;
          border: 1px solid lightgray;
          font: 22pt arial;
      }