          <div>
              <h3><b>Applications</b></h3>
              Some examples of applications with personalised experience, data control and privacy.
          </div>
          <hr/>
          <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card" >
                            <img class="card-img-top" src="/img/logo/confinement-behavior.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <h3 style="color:#0d64af">Confinement optimizer</h3>
                                        <p>Connect your <b>Geospatial Profile</b> to optimize your confinement behavior.</p>
                                        <button style="background-color:#0d64af" class="btn btn-primary"><i class="material-icons" style="font-size:28px">input</i>&nbsp;&nbsp;&nbsp;Use it</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
