          <div>
              <h2><b>Apps</b></h2>
              </div>
          <hr/>
          <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
                        {{#if application}}
                        <div class="card" >
                            <img class="card-img-top" src="/img/logo/confinement-behavior.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <h3 style="color:#0d64af">Confinement optimizer</h3>
                                        <p>Connect your <b>Geospatial Profile</b> to optimize your confinement behavior.</p>
                                        <button style="background-color:#0d64af" class="btn btn-primary"><i class="material-icons" style="font-size:28px">input</i>&nbsp;&nbsp;&nbsp;Use it</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="card" >
                            <div class="card-body">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <h2><b>Create your first app</b></h2>
                                         <h4>Create your first application and give your users a way to acquire their personal data so they can create and control their own “digital profile”.</h4>
                                        <button class="btn btn-primary"><i class="material-icons" style="font-size:28px">apps</i>&nbsp;&nbsp;&nbsp;Create app</button>
                                     </div>
                                </div>
                            </div>
                        </div>
                       {{/if}}
                    </div>
                </div>
            </div>
