          <div>
              <h2><b>Cages</b></h2>
              </div>
          <hr/>
          <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card text-center" style="width: 100%;">
                            <div class="card-body">
                                <img  style="width:15%;" src="/img/icons/workbench.png" rel="nofollow" alt="Card image cap">
                                <h2 >Data workbench</h2>
                                <p class="card-text">
                                    <h4>Unlock the value of your user's personal data with our interactive IDE. Quickly build and test your algorithm through graphQL API's and integrated SDK. Discover and process personal knowledge graph and store derived data into user's pod.</h4>
                                    <a href="/workbench" class="btn btn-primary"><i class="material-icons" style="font-size:28px">blur_on</i>&nbsp;&nbsp;&nbsp;Use data workbench</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card text-center" style="width: 100%;">
                            <div class="card-body">
                                <img  style="width:15%;" src="/img/icons/cage.png" rel="nofollow" alt="Card image cap">
                                <h2 >Setup Data Cage</h2>
                                <p class="card-text">
                                    <h4>Easily configure your enclave to deploy and protect the integrity of your code. Ensure full control of data throughout its lifetime. Support a better algorithmic outcome, without sacrificing data privacy.</h4>
                                    <a href="/auth/consents/privacyCenter" class="btn btn-primary"><i class="material-icons" style="font-size:28px">policy</i>&nbsp;&nbsp;&nbsp;Setup data cage</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
