  <div class="container">
   <div class="card">
        <div class="card-body" style="text-align:center">
            <h3>March 2020</h3>
            <div class="calendar">
              <div class="calendar__header">
                <div>mon</div>
                <div>tue</div>
                <div>wed</div>
                <div>thu</div>
                <div>fri</div>
                <div>sat</div>
                <div>sun</div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date1 day=1}} </div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">{{> calendar behavior=behaviors.date2 day=2}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date3 day=3}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date4 day=4}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date5 day=5}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date6 day=6}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date6 day=7}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date7 day=8}} </div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">{{> calendar behavior=behaviors.date9 day=9}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date10 day=10}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date11 day=11}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date12 day=12}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date13 day=13}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date14 day=14}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date15 day=15}} </div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">{{> calendar behavior=behaviors.date16 day=16}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date17 day=17}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date18 day=18}} </div>
                <div class="calendar__day day">{{> calendar force=true behavior=behaviors.date19 day=19}} </div>
                <div class="calendar__day day">{{> calendar force=true behavior=behaviors.date20 day=20}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date21 day=21}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date22 day=22}} </div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">{{> calendar behavior=behaviors.date23 day=23}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date24 day=24}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date25 day=25}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date26 day=26}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date27 day=27}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date28 day=28}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date29 day=29}} </div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">{{> calendar behavior=behaviors.date30 day=30}} </div>
                <div class="calendar__day day">{{> calendar behavior=behaviors.date31 day=31}} </div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
                <div class="calendar__day day"></div>
              </div>
            </div>
         
      </div>
</div>
</div>
