<div>
    <h2><b>Consents</b></h2>
    </div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                    <h2 >Create consent receipt</h2>
                    <p class="card-text ">
                        <div id="errorMessage">{{errors}}</div>
                        <form method="POST" id="consentReceiptForm" action="/auth/consents/create">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="consentReceiptName">Name</label>
                                        <input type="text" class="form-control" id="consentReceiptName" name="consentReceiptName" >
                                        <span class="badge badge-default">String</span> <small>Name of the consent receipt to create.</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="consentReceiptDescription">Description</label>
                                        <input type="text" class="form-control" id="consentReceiptDescription" name="consentReceiptDescription" >
                                        <span class="badge badge-default">String</span> <small>Description of the consent receipt to create.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="consentReceiptForPurpose">Purpose</label>
                                        <textarea class="form-control" id="consentReceiptForPurpose"  name="consentReceiptForPurpose" rows="2"></textarea>
                                        <span class="badge badge-default">String</span> <small>Purpose of the personal data processing.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="consentReceiptForProcessing">For processing</label>
                                            <div>
                                            <select id="consentReceiptForProcessing" name="consentReceiptForProcessing"  class="form-control" data-live-search="true">
                                                <option value="https://w3id.org/GConsent#DataAdaptation">DataAdaptation</option>
                                                <option value="https://w3id.org/GConsent#DataAlignment">DataAlignment</option>
                                                <option value="https://w3id.org/GConsent#DataAlteration">DataAlteration</option>
                                                <option value="https://w3id.org/GConsent#DataCollection">DataCollection</option>
                                                <option value="https://w3id.org/GConsent#DataCombination">DataCombination</option>
                                                <option value="https://w3id.org/GConsent#DataConsultation" selected="true">DataConsultation (Default)</option>
                                                <option value="https://w3id.org/GConsent#DataDestruction">DataDestruction</option>
                                                <option value="https://w3id.org/GConsent#DataDisclosureByTransmission">DataDisclosureByTransmission</option>
                                                <option value="https://w3id.org/GConsent#DataDissemination">DataDissemination</option>
                                                <option value="https://w3id.org/GConsent#DataErasure">DataErasure</option>
                                                <option value="https://w3id.org/GConsent#DataOrganisation">DataOrganisation</option>
                                                <option value="https://w3id.org/GConsent#DataRecording">DataRecording</option>
                                                <option value="https://w3id.org/GConsent#DataRestriction">DataRestriction</option>
                                                <option value="https://w3id.org/GConsent#DataRetrieval">DataRetrieval</option>
                                                <option value="https://w3id.org/GConsent#DataSharing">DataSharing</option>
                                                <option value="https://w3id.org/GConsent#DataStorage">DataStorage</option>
                                                <option value="https://w3id.org/GConsent#DataStructuring">DataStructuring</option>
                                            </select>
                                         </div>
                                        <span class="badge badge-default">String</span> <small>Type of processing (actions or activities) performed on personal data</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="consentReceiptRequiredValidStatus">Required valid status</label>
                                            <div>
                                            <select id="consentReceiptRequiredValidStatus" name="consentReceiptRequiredValidStatus"  class="form-control" data-live-search="true">
                                                <option value="https://w3id.org/GConsent#ConsentStatusExplicitlyGiven" selected="true">Explicit (Default)</option>
                                                <option value="https://w3id.org/GConsent#ConsentStatusImplicitlyGiven">Implicit (Not supported yet)</option>
                                            </select>
                                         </div>
                                        <span class="badge badge-default">String</span> <small>Type of required status to make valid consent</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="consentReceiptData">For personal data</label>
                                        <div class="row">
                                            <div class="col">
                                                <div>
                                                    <select id="consentReceiptDataSensitivity"  name="consentReceiptDataSensitivity" class="form-control">
                                                        <option value="https://w3id.org/GDPRtEXT#PersonalData" selected="true">Personal Data (Default)</option>
                                                        <option value="https://w3id.org/GDPRtEXT#HealthData">Sensitive Personal Data - Health Data</option>
                                                        <option value="https://w3id.org/GDPRtEXT#GeneticData">Sensitive Personal Data - Genetic Data</option>
                                                        <option value="https://w3id.org/GDPRtEXT#CriminalData">Sensitive Personal Data - Criminal Data</option>
                                                        <option value="https://w3id.org/GDPRtEXT#RacialData">Sensitive Personal Data - Racial Data</option>
                                                    </select>
                                                </div>
                                                <span class="badge badge-default">Array</span> <small>Set of personal data sensitivity</small>
                                            </div>
                                            <div class="col">
                                                <div>
                                                    <select id="consentReceiptDataCategories"  name="consentReceiptDataCategories" class="form-control selectpicker" multiple="multiple">
                                                        <option value="https://www.datavillage.me/ontologies/LConsent#PersonalDataActivity">PersonalDataActivity - What?</option>
                                                        <option value="https://www.datavillage.me/ontologies/LConsent#PersonalDataLocation">PersonalDataLocation - Where?</option>
                                                        <option value="https://www.datavillage.me/ontologies/LConsent#PersonalDataTime">PersonalDataTime - When?</option>
                                                        <option value="https://www.datavillage.me/ontologies/LConsent#PersonalDataPerson">PersonalDataPerson - With Whom?</option>
                                                        <option value="https://www.datavillage.me/ontologies/LConsent#PersonalDataCharacteristic">PersonalDataCharacteristic - How?</option>
                                                    </select>
                                                </div>
                                                <span class="badge badge-default">Array</span> <small>Set of personal data categories</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="consentReceiptDataSources">Data sources</label>
                                            <div>
                                            <select id="consentReceiptDataSources"  name="consentReceiptDataSources" class="form-control selectpicker" multiple="multiple">
                                                <optgroup label="Sports & health">
                                                        <option value="20f2fc315a06ed54663bdfd5efa4a51234b27fd4d4690bd58d0944120bcd31d08d28ae5891ba9243c91f5eab608d5d364c1681e2bf0d9e30c25822d8350c5a5d">Strava (Available for sensitivity: "PersonalData" - category: "What | When")</option>
                                                        <option value="bca154aab2acb04a332df47c7cfc90f30914678b66824924a67ef6f164f53431144ffba71840e240ee553137ad6d2bf56d10caf8e55c2bf56fdaca3f476b7626">Fitbit (Available for sensitivity: "PersonalData" - category: "What | When")</option>
                                                </optgroup>
                                                <optgroup label="Social & interests">
                                                        <option value="4f6c4a9045ae3fdc7c457a6998a2ec538c87cfadd52529eccfc3f81676eca9b9130e0c3e3cdbf5d47cc0114ac3b4e248d74e2c5d8ef6d8aa79a8fddfc4bb4098">Facebook (Available for sensitivity: "PersonalData" - category: "What | When")</option>
                                                        <option value="21a51fa4894901daf2123b825e083e9b3e0ce13dcb930bd3689ad132c42dc861bfdebaea0fb28e69314432d049a37b51c4f351c477d157470ae3ee24f0d7f98b">VRT Nu (Available for sensitivity: "PersonalData" - category: "What | When")</option>
                                                        <option value="5941b703d4e5585e37709636dfd03e2d443f5abfa107702d1718dd6f542ea97a6c7ef6401ed0c49d2658d88641100fae92273764d4dfbe81186013590e035b25">VTM GO (Available for sensitivity: "PersonalData" - category: "What | When")</option>
                                                        <option value="9d84b14f152b965ddd34cb79fdc1ed88e589f6e01085702af77d0837c84c8b85f0ad1ad25122c110a04761a5edc3831de0bdb3edd9a2db959b45a3625db4e98c">Auvio (Available for sensitivity: "PersonalData" - category: "What | When")</option>
                                                </optgroup>
                                                <optgroup label="Mobility">
                                                        <option value="c9a5509d3f1ecd150f4f049a92d359482d4d41885591ad444c9762d4bf1bcad1b6e069eae7b320e5703801c985461de38e8fce0bb903e5c71a94c9b411f4a939">Google timeline (Available for sensitivity: "PersonalData" - category: "What | When | Where")</option>
                                                </optgroup>
                                                <optgroup label="Finance & consumption">
                                                        <option value="c257eeeb1d7e9cf0522a1c6876d6a4b110dfecd131ea1883682869a654881c445be3b3d1daa0ee0bd541dc3487f71072bd638f9bd2b72b6e045729a145d1126a">Bnp Paribas Fortis statements &amp; beneficiaries (Available for sensitivity: "PersonalData" - category: "What | When | Where")</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <span class="badge badge-default">Array</span> <small>List of data sources used by processing (Colruyt, N26, Instagram, Vimeo, Spotify, GetPocket, Twitter are coming soon).</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="createdByName">Created by</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control" id="consentReceiptCreatorName" name="consentReceiptCreatorName" value="{{#if session.companyName}}{{session.companyName}}{{/if}}" >
                                                <span class="badge badge-default">String</span> <small>Name of the organisation</small>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" id="consentReceiptCreatorUrl" name="consentReceiptCreatorUrl" value="{{#if session.companyUri}}{{session.companyUri}}{{/if}}" >
                                                <span class="badge badge-default">String</span> <small>URI of the organisation</small>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" id="consentReceiptCreatorLogo" name="consentReceiptCreatorLogo" value="{{#if session.companyUri}}{{session.companyUri}}/logo.png{{/if}}" >
                                                <span class="badge badge-default">String</span> <small>URL to the Logo of the organisation</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/><br/>
                            <center><button type="button" class="btn btn-primary" onclick="submitForm('consentReceiptForm');">Create consent receipt</button></center>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showError(errorMessage){
        var htmlErrorMessage="<div class='alert alert-warning'><div class='container-fluid'><i class='material-icons'>warning</i> "+errorMessage+"</div></div>";
        document.getElementById("errorMessage").innerHTML=htmlErrorMessage;
    }
    function submitForm(form){
        if(document.getElementById("consentReceiptName").value=="")
            showError("Name is required");
        else if(document.getElementById("consentReceiptDescription").value=="")
            showError("Description is required");
        else if(document.getElementById("consentReceiptDescription").value=="")
            showError("Description is required");
        else if(document.getElementById("consentReceiptForPurpose").value=="")
            showError("Purpose is required");
        else if(document.getElementById("consentReceiptForProcessing").value=="")
            showError("Processing is required");
        else if(document.getElementById("consentReceiptDataSensitivity").value=="")
            showError("Data sensitivity is required");
        else if(document.getElementById("consentReceiptDataCategories").value=="")
            showError("Data categories is required");
        else if(document.getElementById("consentReceiptDataSources").value=="")
            showError("Data sources is required");
        else if(document.getElementById("consentReceiptCreatorName").value=="")
            showError("Creator name is required");
        else if(document.getElementById("consentReceiptCreatorUrl").value=="")
            showError("Creator url is required");
        else if(document.getElementById("consentReceiptCreatorLogo").value=="")
            showError("Creator logo is required");
        else
            document.getElementById(form).submit();
    }
    $(document).ready(function() {  
        //$('select[consentReceiptForPurpose]').val('https://w3id.org/GConsent#DataConsultation');
        //$('select[consentReceiptForPurpose]').selectpicker('refresh');
    });
    
</script>


