          <div>
              <h2><b>Consents</b></h2>
              </div>
          <hr/>
          <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
                        <div class="card text-center" style="width: 100%;">
                            <div class="card-body">
                                <img  style="width:15%;" src="/img/icons/consent.png" rel="nofollow" alt="Card image cap">
                                <h2 >Manage consent receipts</h2>
                                <p class="card-text">
                                    <h4>Create consent receipts and link the data from your users that will be processed. Describe the purpose of data processing and minimum duration requested for this consent (number of days, months or years).</h4>
                                    <button class="btn btn-primary"><i class="material-icons" style="font-size:28px">assignment_turned_in</i>&nbsp;&nbsp;&nbsp;Create consent</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
