          <div>
              <h2><b>Consents</b></h2>
              </div>
          <hr/>
          <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card text-center" style="width: 100%;">
                            <div class="card-body">
                                <img  style="width:15%;" src="/img/icons/consent.png" rel="nofollow" alt="Card image cap">
                                <h2 >Manage consent receipts</h2>
                                <p class="card-text">
                                    <h4>Manage data processing and link the personal data that will be used. Describe the purpose of data processing and minimum duration requested for the consent.</h4>
                                    <a href="/auth/consents/form" class="btn btn-primary"><i class="material-icons" style="font-size:28px">assignment_turned_in</i>&nbsp;&nbsp;&nbsp;Manage consent receipts</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card text-center" style="width: 100%;">
                            <div class="card-body">
                                <img  style="width:15%;" src="/img/icons/privacy-center.png" rel="nofollow" alt="Card image cap">
                                <h2 >Create privacy center</h2>
                                <p class="card-text">
                                    <h4>Engage your users with trust and make privacy your application differentiator. Give your users the ability to activate and revoke consents in a user-friendly way.</h4>
                                    <a href="/auth/consents/privacyCenter" class="btn btn-primary"><i class="material-icons" style="font-size:28px">verified_user</i>&nbsp;&nbsp;&nbsp;Create privacy center</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
