<div>
        <h2><b>Workbench</b>
        - Explore Data
        </h2>
</div>
<hr/>
<div class="container">
    <h3>Apply <b>enrichment modules</b> to unlock value of data.</h3> 
   
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6" class="row justify-content-center">
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                    <div>
                        <center>
                        <button style="width:450px" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Discover and query actions based on date and time">
                            <h5><i class="material-icons" style="font-size:28px">access_time</i> Temporal module </h5><h6>Level 1: DateTime Filtering (activated by default)<br/>Level 2: Aggregation (Business version only)<br/>Level 3: Duration (Business version only)</h6>
                        </button>
                        <span style="width:450px" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Discover and query actions based on locations, cities, countries and more">
                            <h5><i class="material-icons" style="font-size:28px">explore</i> Spatial module </h5><h6>Level 1: Location Filtering (business version only)<br/>Level 2: Places and categories (Business version only)<br/>Level 3: Location attributes (Business version only)</h6>
                        </span>
                        <span style="width:450px" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Discover and analyse interests based on concepts and more">
                            <h5><i class="material-icons" style="font-size:28px">grade</i> Interest module </h5><h6>Level 1: Concepts extraction (business version only)<br/>Level 2: Concepts graph (Business version only)<br/>Level 3: Concepts discovery (Business version only)</h6>
                        </span>
                        <span style="width:450px" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Discover and analyse health and wellness based on health thresold">
                            <h5><i class="material-icons" style="font-size:28px">favorite</i> Health module </h5><h6>Level 1: Activities Filtering (activated by default)<br/>Level 2: Activities benefits (Business version only)<br/>Level 3: Activities thresold (Business version only)</h6>
                        </span>
                        <br/><br/>
                        <h6>And a lot more to come (Social module, Product module, Music module, ...)</h6>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" class="row justify-content-center">
            <div class="card text-left" style="width: 100%;heigh:100%">
                <div class="card-body">
                    <div id="graph" style="height:675px">Loading data ...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3><b>Create questions </b>through Graph QL editor, query data and get answsers (see doc <a href="https://documenter.getpostman.com/view/7257320/SzYT52Me?version=latest#0d7d776b-4655-499e-99a1-5423c178dc4f" target="_blank">here</a>).</h3>     
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                <div>
                </div>
                <div id="graphiql" style="height: 50vh;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script crossorigin src="https://unpkg.com/react/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
<script crossorigin src="https://unpkg.com/graphiql/graphiql.min.js"></script>
<script>
    const graphQLFetcher = graphQLParams =>
        fetch('/workbench/graphql', {
          method: 'post',
          headers: { 'Content-Type': 'application/json' ,'Authorization':'Bearer {{{userJwtToken}}}'},
          body: JSON.stringify(graphQLParams),
        })
          .then(response => response.json())
          .catch(() => response.text());

  var defaultQuery=`{
    Person
    {
        uri 
        actions
        {
            uri
            type
            description
            distance
            startTime
            {
                year
                month
                day
                hour
                minute
                second
                formatted
            }
            endTime
            {
                year
                month
                day
                hour
                minute
                second
                formatted
            }
            physicalActivities
            {
                uri
                category
            }
        }
    }
}`;
  ReactDOM.render(
    React.createElement(GraphiQL, {
      fetcher: graphQLFetcher,
      query:defaultQuery,
      docExplorerOpen:false
    }),
    document.getElementById('graphiql'),
  );
</script>
<script>
    function init() {
                var neo4jd3 = new Neo4jd3('#graph', {
                    highlight: [
                        {
                            class: 'Person.uri',
                            property: 'userId',
                            value: 'person'
                        }
                    ],
                    icons: {
                        'Person': 'user',
                        'Action': 'gear',
                        'PhysicalActivity': 'arrow-circle-o-up'
                    },
                    images: {
                    },
                    colors:[
                        '#66bb6a',
                        '#50dddf',
                        '#2196f3',
                    ],
                    minCollision: 20,
                    neo4jDataUrl: '/auth/workbench/graphOverview',
                    nodeRadius: 12,
                    zoomFit: true
                });
            }

            window.onload = init;
</script>
