<div class="card" style="width: 100%;">
  <br/> <br/> 
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Build the end to end personal data flow that's give back control to your users.</b></h2>
          <h4>Guaranteeing control, privacy, transparency and compliance in a trusted environment.</h4>
        </div>
      </div>
      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="card-img-bottom" src="/img/product.png" rel="nofollow" alt="Card image cap">
                <a href="https://www.datavillage.me/platform-beta-testers/" class="btn btn-primary"><i class="material-icons" style="font-size:28px">account_circle</i>&nbsp;&nbsp;&nbsp;Signup as Beta tester</a>
            </div>
      </div>
      <br/> <br/>
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Use data, Share data!</b></h2>
          <h3>Two ways to take advantage of the platform.</h3><h4><i>Either you link the data of your users to the platform and get the opportunity of using their data in complete transparency, or you go further and let the partners use the data of your users to improve their products and services while guaranteeing a full privacy.</i></h4>
          <h3><b>We enable both !</b></h3>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                      <p class="card-text">
                          <h3>Manage and use personal data transparently while giving back control to your users.</h3>
                          <h5>We are working hard to integrate with <b>Data Catalog Solutions</b> to seamlessly connect personal data to the platform.If you are interested please contact us.</h5>
                          <a href="mailto:developer@datavillage.me" class="btn btn-primary"><h4>I'm a Data <b>Provider</b></h4></a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                      <p class="card-text">
                          <h3>Personalise products and services while guaranteeing a full privacy of your users.</h3>
                          <h5>Our <b>Developer portal and Data workbench</b> gives you the opportunity to try and test the consent based authorization and personal data processing.</h5>
                          <a href="https://www.datavillage.me/platform-beta-testers/" class="btn btn-primary"><h4>I'm a Data <b>Consumer</b></h4></a>
                      </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
       <br/> <br/>
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Any data sources, multiple data catalogs, one personal knowledge graph</b></h2>
          <h4>Let us do the hard work of integrating, normalising against market standards and maintaining data sources while you innovate!</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <center><img class="card-img-bottom" style="width:500px" src="/img/vision.png" rel="nofollow" alt="Card image cap"></center>
          </div>
      </div>
      <br/> <br/> 
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Implement privacy &amp; control in any application in just a few minutes</b></h2>
          <h4>Rapidly integrate personal consents, confidential processing and data pods with existing applications so you can focus on your core business.</h4>
          
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                    <img  style="width:25%;" src="/img/icons/consent.png" rel="nofollow" alt="Card image cap">
                  <h3>Decentralised Consents</h3>
                  <h5>Engage your users with trust and give your users the ability to activate and revoke consents in a user-friendly way.<br/><br/><br/></h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                    <img  style="width:25%;" src="/img/icons/cage.png" rel="nofollow" alt="Card image cap">
                    <h3>Confidential Data Cages</h3>
                    <h5>Easily configure your enclaves to deploy and protect the integrity of your code and data. Support algorithmic outcome, without sacrificing data privacy.</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                    <img  style="width:25%;" src="/img/icons/pods-self-managed.png" rel="nofollow" alt="Card image cap">
                    <h3>Personal Data Pods</h3>
                    <h5>Use Personal Data Pods to store derived data into users’ self controlled personal data store.<br/><br/><br/></h5>
                  </div>
              </div>
            </div>
      </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h5>With a few lines of code you can have the end to end flow integrated in any app written in any language, and any framework.<br/>We provide <b>API's, Data Workbench &amp; SDK</b> to help you succeed on your implementation.</h5>
              <center><a href="https://www.datavillage.me/platform-beta-testers/" class="btn btn-primary"><i class="material-icons" style="font-size:28px">account_circle</i>&nbsp;&nbsp;&nbsp;Signup as Beta tester</a></center></center>
          </div>
      </div>
      <br/> <br/>
  </div>
</div>

