<div class="card" style="width: 100%;">
  <br/> <br/> 
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Build the end to end personal data flow that's give back control to your users.</b></h2>
          <h4>Rapidly integrate personal data pods, consents and confidential processing with existing applications so you can focus on your core business.</h4>
        </div>
      </div>
      <div class="row">
            <div class="col-md-4">
              <div class="info">
                <img  style="width:25%;" src="/img/icons/pods-self-managed.png" rel="nofollow" alt="Card image cap">
                <h3>Personal Data Pod</h3>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <img  style="width:25%;" src="/img/icons/consent.png" rel="nofollow" alt="Card image cap">
                <h3>Decentralised Consents</h3>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <img  style="width:25%;" src="/img/icons/cage.png" rel="nofollow" alt="Card image cap">
                <h3>Confidential Data Cage</h3>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              </div>
            </div>
      </div>
      <br/> <br/>
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Use data, share data!</b></h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card text-center" style="width: 100%;">
                    <div class="card-body">
                        <h2 >I'm a Data Consumer</h2>
                        <p class="card-text">
                            <h4>Personalise digital user experiences through external end-users behavioral data.</h4>
                            <a href="/login" class="btn btn-primary"><i class="material-icons" style="font-size:28px">account_circle</i>&nbsp;&nbsp;&nbsp;Login on developer portal</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card text-center" style="width: 100%;">
                    <div class="card-body">
                        <h2 >I'm a Data Provider</h2>
                        <p class="card-text">
                            <h4>Allow partners to use behavioral data from your users without disseminating these.</h4>
                            <a href="/login" class="btn btn-primary"><i class="material-icons" style="font-size:28px">account_circle</i>&nbsp;&nbsp;&nbsp;Login on developer portal</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <br/> <br/> 
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Implement privacy&amp;control in any application in just a few minutes</b></h2>
          <h4>With a few lines of code you can have the end to end flow integrated in any app written in any language, and any framework. We provide API's, Data Workbench &amp; Quickstarts to help you succeed on your implementation.</h4>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="card-img-bottom" src="/img/platform.png" rel="nofollow" alt="Card image cap">
                <a href="/login" class="btn btn-primary"><i class="material-icons" style="font-size:28px">account_circle</i>&nbsp;&nbsp;&nbsp;Login on developer portal</a>
            </div>
        </div>
      </div>
      <br/> <br/>
  </div>
</div>

