<div class="card" style="width: 100%;">
  <br/> <br/> 
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Build the end to end personal data flow that's give back control to your users.</b></h2>
          <h4>Guaranteeing control, privacy, transparency and compliance in a trusted environment.</h4>
        </div>
      </div>
      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="card-img-bottom" src="/img/product.png" rel="nofollow" alt="Card image cap">
                <a href="/login" class="btn btn-primary"><i class="material-icons" style="font-size:28px">account_circle</i>&nbsp;&nbsp;&nbsp;Login on developer portal</a>
            </div>
      </div>
      <br/> <br/>
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Share data, use data!</b></h2>
          <h4>There are two ways to take advantage of user's data.<br/> Either you give your users the possibility of using their data in partner products, or you use the data of your users from your partners to improve products and services to them. <br/>We enable both.</h4>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2"></div>
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                      <p class="card-text">
                          <h4>Allow partners to use behavioral data from your users without disseminating these.</h4>
                          <p>We are not yet ready with data sources integration automation. Some steps are still need to be done manually. If you are interested to add data source please contact us.</p>
                          <a href="mailto:developer@datavillage.me" class="btn btn-primary"><h4>I'm a Data <b>Provider</b></h4></a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                      <p class="card-text">
                          <h4>Personalise digital user experiences through partner's end-users behavioral data.</h4>
                          <p>Our developer portal and data workbench gives you the opportunity to try and test the potential of the platform. Connect to our developer portal in one click.</p>
                          <a href="/login?consumer=true" class="btn btn-primary"><h4>I'm a Data <b>Consumer</b></h4></a>
                      </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
       <br/> <br/>
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Any data sources, One knowledge graph</b></h2>
          <h4>Let us do the hard work of integrating, normalising against market standards and maintaining data sources while you innovate!</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <center><img class="card-img-bottom" style="width:500px" src="/img/vision.png" rel="nofollow" alt="Card image cap"></center>
          </div>
      </div>
      <br/> <br/> 
      <hr/>
      <br/> 
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2><b>Implement privacy &amp; control in any application in just a few minutes</b></h2>
          <h4>Rapidly integrate personal data pods, consents and confidential processing with existing applications so you can focus on your core business.</h4>
          
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                    <img  style="width:25%;" src="/img/icons/pods-self-managed.png" rel="nofollow" alt="Card image cap">
                    <h3>Personal Data Pods</h3>
                    <h5>Use Personal Data Pods to store derived data into users’ self controlled personal data store.<br/><br/><br/></h5>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                    <img  style="width:25%;" src="/img/icons/consent.png" rel="nofollow" alt="Card image cap">
                  <h3>Decentralised Consents</h3>
                  <h5>Engage your users with trust and give your users the ability to activate and revoke consents in a user-friendly way.<br/><br/><br/></h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                    <img  style="width:25%;" src="/img/icons/cage.png" rel="nofollow" alt="Card image cap">
                    <h3>Confidential Data Cages</h3>
                    <h5>Easily configure your enclaves to deploy and protect the integrity of your code and data. Support algorithmic outcome, without sacrificing data privacy.</h5>
                </div>
              </div>
              
            </div>
      </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h5>With a few lines of code you can have the end to end flow integrated in any app written in any language, and any framework. We provide API's, Data Workbench &amp; SDK to help you succeed on your implementation.</h5>
              <center><a href="/login" class="btn btn-primary"><i class="material-icons" style="font-size:28px">account_circle</i>&nbsp;&nbsp;&nbsp;Login on developer portal</a></center></center>
          </div>
      </div>
      <br/> <br/>
  </div>
</div>

