          <div>
              <h2><b>Pods</b></h2>
              </div>
          <hr/>
          <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:15%;" src="/img/icons/pods-self-managed.png" rel="nofollow" alt="Card image cap">
                                            <h2 >Self managed pods</h2>
                                            <p class="card-text">
                                                <h4>Use self managed pods to store extracted behaviors into users’ self controlled personal data store.</h4>
                                                <a href="/auth/pods/select" class="btn btn-primary"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Select</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:15%;" src="/img/icons/pods-full-managed.png" rel="nofollow" alt="Card image cap">
                                            <h2 >Fully managed pods</h2>
                                            <p class="card-text">
                                                <h4>Use full managed pods to store extracted behaviors into users’ controlled personal data store you manage for them.</h4>
                                                <button class="btn btn-default"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Coming soon</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
