          <div>
              <h2><b>Pods - self managed</b></h2>
              </div>
          <hr/>
          <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:15%;" src="/img/logo/google-drive.png" rel="nofollow" alt="Card image cap">
                                            <h2 >Google Drive</h2>
                                            <p class="card-text">
                                                <h4>Use Google Drive as personal data store. Users will link their drive with your application.</h4>
                                                <a href="/auth/pods/form?podId=9ef6b81a414b2432ec6e3d384c5a36cea8aa0c30d3dd2b67364126ed80856f9c20654f032eef87ad981187da8c23c1186eefe1503714835c2e952bbb3f22729c" class="btn btn-primary"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Select</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:15%;" src="/img/logo/solid.png" rel="nofollow" alt="Card image cap">
                                            <h2 >Solid</h2>
                                            <p class="card-text">
                                                <h4>Use Solid (community) as personal data store. Users will link their pod with your application.</h4>
                                                <button class="btn btn-default"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Coming soon</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:15%;" src="/img/logo/onedrive.png" rel="nofollow" alt="Card image cap">
                                            <h2 >One drive</h2>
                                            <p class="card-text">
                                                <h4>Use One Drive as personal data store. Users will link their drive with your application.</h4>
                                                <button class="btn btn-default"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Coming soon</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:15%;" src="/img/logo/dropbox.png" rel="nofollow" alt="Card image cap">
                                            <h2 >Dropbox</h2>
                                            <p class="card-text">
                                                <h4>Use Dropbox as personal data store. Users will link their drive with your application..</h4>
                                                <button class="btn btn-default"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Coming soon</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:15%;" src="/img/logo/storj.jpg" rel="nofollow" alt="Card image cap">
                                            <h2 >StorJ</h2>
                                            <p class="card-text">
                                                <h4>Use StorJ as personal data store. Users will link their decentralised drive with your application.</h4>
                                                <button class="btn btn-default"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Coming soon</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
