    <div>
        <h2><b>Pods - 
            {{#if pod.isGoogleDrive}}
            (<img  style="width:48px;" src="/img/logo/google-drive.png" rel="nofollow" alt="google drive"> Google Drive)
            {{/if}}
        </b></h2>
        </div>
    <hr/>
    <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <h3><b>Pod Type Id:</b> 
                            <div class="input-group">
                            <input class="form-control" id="podId" readonly="true" value="{{session.podTypeId}}">
                            <div class="input-group-addon">
                                
                                &nbsp;<a href="javascript:copyToClipboard('podId')" data-clipboard-target="#podId"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                        <h2 class="card-subtitle mb-2 "><b>Quickstart</b></h2>
                        <p class="card-text">
                            <h4>Let your user link their pods with your app.<br/> <br/> 
                            The <i>Datavillage's User-Centric Personal Data Management Platform</i> allows you to write behaviors into your application's users pod. These pods will be in full control of your users and they can decide at any time to delete these data themselves. We call it <b>"hard-revoke" with full data control.</b>.<br/><br/>
                            All user's data sources access keys will be stored (encrypted) into user's pod. Users can decide at any time to delete these access keys themselves. We call it <b>"hard-revoke" with full data control.</b>.
                            </h4>
                        </p>
                        <br/>
                        <ul class="nav nav-pills nav-pills-icons" role="tablist">
                            <li class="nav-item"><a class="nav-link {{#if userCreation}}active{{/if}}" href="/auth/pods/userCreation"><i class="material-icons">looks_one</i>Test user</a></li>
                            <li class="nav-item"><a class="nav-link {{#if userToken}}active{{/if}}" href="/auth/pods/userToken"><i class="material-icons">looks_two</i>User token</a></li>
                        </ul>
                        <hr/>
                        {{#if userCreation}}
{{> application-user-creation}}
                        {{/if}}
                        {{#if userToken}}
{{> application-user-token}}
                        {{/if}}
            </div>
        </div>
    </div>
</div>
<script>
function copyToClipboard(id) {
    /* Get the text field */
    var copyText = document.getElementById(id);

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");
}

</script>