<div>
    <h2><b>Consents - Manage privacy center</b></h2>
    </div>
<hr/>
<div class="container">
 <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            <div class="card text-left" style="width: 100%;">
                <div class="card-body ">
                    <h2 class="card-subtitle mb-2 "><b>Quickstart</b></h2>
                    <p class="card-text">
                        <h4>Privacy center is the space where your users feel in trust with your organisation and get confident on how their personal data are managed and used. Create your privacy center based on consent receipt, link it to the consent ledger and integrate into your app.</h4>
                        <br/>
                        
                        <ul class="nav nav-pills nav-pills-icons" role="tablist">
                            <li class="nav-item"><a class="nav-link {{#if creation}}active{{/if}}" href="/auth/consents/privacyCenter/creation"><i class="material-icons">looks_one</i>Create privacy center</a></li>
                            <li class="nav-item"><a class="nav-link {{#if link}}active{{/if}}" href="/auth/consents/privacyCenter/link"><i class="material-icons">looks_two</i>Link to consent ledger</a></li>
                        </ul>
                        <hr/>
                        {{#if creation}}
{{> privacy-center-create}}
                        {{/if}}
                        {{#if link}}
{{> privacy-center-link}}
                        {{/if}}
                        </div>
                                    </div>
                                    </p>
                           
            </div>
<script>
    function modifyRequestPayload(id,value){
        payloadRequestElement=document.getElementById(id+"Request");
        payloadRequestElement.innerText=value;
    }
    
</script> 