    <div>
        <h3><b>Sources</b></h3>
    </div>
    <hr/>
    <h4><b>Today</b></h2>
    <form method="POST" action="https://passport.datavillage.me/auth/sources/activate">
    <div class="form-group">
        <div class="togglebutton">
            <label>
                <input type="checkbox" checked="">
                <span class="toggle"></span>
                Toggle is on
            </label>
            </div>
            <div class="togglebutton">
            <label>
                <input type="checkbox">
                <span class="toggle"></span>
                Toggle is off
            </label>
            </div>
    </div>
    <input type="hidden" name="callback" value="http://localhost:3001"/>
    <input type="hidden" name="consentReceiptId" value="20f2fc315a06ed54663bdfd5efa4a51234b27fd4d4690bd58d0944120bcd31d08d28ae5891ba9243c91f5eab608d5d364c1681e2bf0d9e30c25822d8350c5a5d"/>
    <input type="hidden" name="accessToken" value="eyJhbGciOiJLTVMiLCJ0eXAiOiJKV1QifQ.eyJhdWQiOiJodHRwczovL2FwaS5kYXRhdmlsbGFnZS5tZS8iLCJzdWIiOiJhdXRoMHw1ZTcyOGM5NWI3YTUzMDBjOGU3ZmY0YWMiLCJ1cmkiOiJodHRwczovL2FwaS5kYXRhdmlsbGFnZS5tZS91c2Vycy9hdXRoMHw1ZTcyOGM5NWI3YTUzMDBjOGU3ZmY0YWMiLCJpYXQiOiIyMDIwLTAzLTIzVDIxOjA4OjA2LjY0OVoiLCJleHAiOiIyMDIwLTAzLTIzVDIxOjE4OjA2LjY0OVoiLCJzY29wZSI6Imxpbms6c291cmNlcyJ9.AQICAHiicquW0AOzDlrHF9VXK3pZkmcMQWFNDW2TSJ2YbFcC0gFzI0BWufSDS1um8tz8qdFiAAABxzCCAcMGCSqGSIb3DQEHBqCCAbQwggGwAgEAMIIBqQYJKoZIhvcNAQcBMB4GCWCGSAFlAwQBLjARBAx3L4ATuYAHweqMQ9wCARCAggF6sY/x88rpdtnGrZCroTB6jJft5S97y66TBZWuzABzvGP3/0soDMpWQAIoo6AEI6Kh7yYItbeFw11gnTE/1xc2P3QcFIdFPWBRgg+mRKKe39vgJ928AwUJLCsLaw+VpNzc8jx+1eYcnqgYs6wSYsELyhvhcn2onqZJ/Dj94cwQgeCGXrfaR3kH0RM5lOQvAoTmIpAhFYj/W6BsCdAMqdehkabfR/DJd3QiayoXOc+o8IcO/FRZgF8MNcZdAgIPVWYzx3tLPe6zyilEUVILhRGP6iPbvW0RC3bqG9pcoGwAHZXFWKkPb+9r8BMORIka1F82FURTer6SUjWEWxxT+dRHzkqlhnsp3HNMbTaBVNoGJXsFfrRcQijmc54QWKySP3IsVDIc5B1/hg+fhcxVnPdgyvR2wItp7MgOfgNbUSm2p/T4jSRQo235vtxUhaCBrVKUROaGwecOIH0ikV01bamhFYaMcK1nKc/8TY0rGcWrbHsXiHVSMmz/dvHO"/>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>