          <div>
              <h3><b>Sources</b></h3>
          </div>
          <hr/>
          <h4><b>Today</b></h2>
          <form>
  <div class="form-group">
    <div class="togglebutton">
        <label>
            <input type="checkbox" checked="">
            <span class="toggle"></span>
            Toggle is on
        </label>
        </div>
        <div class="togglebutton">
        <label>
            <input type="checkbox">
            <span class="toggle"></span>
            Toggle is off
        </label>
        </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>