<div>
    <h2><b>Cages - Data workbench</b></h2>
    </div>
<hr/>
<div class="container">
    <div class="row">
            <div class="card text-left" style="width: 100%;">
                <div class="card-body ">
                    <h2 class="card-subtitle mb-2 "><b>Quickstart</b></h2>
                    <p class="card-text">
                        <h4>Data workbench lets you import test user data and query these data through our graphQL editor. Before using the Data workbench, you need first <a href="/auth/consents/form">create consent receipt</a> with linked data sources and activate consents for your test user through <a href="/auth/consents/privacyCenter">the privacy center</a>.</h4>
                        <br/>
                        
                         <ul class="nav nav-pills nav-pills-icons" role="tablist">
                            <li class="nav-item"><a class="nav-link {{#if import}}active{{/if}}" href="/auth/workbench/import"><i class="material-icons">looks_one</i>Import test data</a></li>
                            <li class="nav-item"><a class="nav-link {{#if graphql}}active{{/if}}" href="/auth/workbench/graphql"><i class="material-icons">looks_two</i>Query test data</a></li>
                        </ul>
                        <hr/>
                        {{#if import}}
{{> workbench-import-data}}
                        {{/if}}
                        {{#if graphql}}
{{> workbench-graphql-explorer}}
                        {{/if}}
                        </div>
                                    </div>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
